@font-face {
  font-family: 'Myanmar3';
  src: url("../font/Myanmar3.eot");
  /* IE9 Compat Modes */
  src: url("../font/Myanmar3.eot?#iefix") format("embedded-opentype"), url("../font/Myanmar3.woff") format("woff"), url("../font/Myanmar3.ttf") format("truetype"), url("../font/Myanmar3.svg#Myanmar3") format("svg");
  /* Legacy iOS */
  unicode-range: U+1000-109F, U+AA60-AA7B;
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Zawgyi-One';
  src: url("../font/Zawgyi-One.ttf");
  unicode-range: U+1000-1097;
  font-weight: normal;
  font-style: normal;
  font-size: 90%; }

@font-face {
  font-family: 'UniBurma';
  src: url("../font/UniBurma_Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Parabaik';
  src: url("../font/Parabaik.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'WinInnwa';
  src: url("../font/WinInnwa.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'M-Myanmar1';
  src: url("../font/M-Myanmar1.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Wwin_Burmese';
  src: url("../font/Wwin_Burmese.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Kannaka';
  src: url("../font/Kannaka.ttf");
  font-weight: normal;
  font-style: normal; }

body {
  padding: 0;
  margin: 0;
  border-top: 4px solid #318ED7;
  font-family: Arial, "Myanmar3", Helvetica, sans-serif; }

div.burglish {
  display: table;
  width: 96%;
  margin: 2%;
  max-width: 1600px; }
  div.burglish > div {
    display: table-row; }
    div.burglish > div > div {
      display: table-cell;
      width: 50%; }
      div.burglish > div > div > div {
        padding: 5px;
        position: relative;
        display: block; }
        div.burglish > div > div > div:first-child {
          vertical-align: middle;
          z-index: 10; }
          div.burglish > div > div > div:first-child > ol {
            font-size: 15px;
            padding: 0;
            margin: 4px;
            list-style: none;
            display: inline-table;
            -webkit-user-select: none;
            position: inherit; }
            div.burglish > div > div > div:first-child > ol.inactive::before {
              position: absolute;
              display: block;
              z-index: 12;
              width: 100%;
              padding: 8px;
              text-align: center;
              font-size: 10px;
              color: #318ED7;
              text-shadow: 0 0px 1px #fff;
              background-color: rgba(204, 204, 204, 0.8);
              content: "Current font not support these functions"; }
            div.burglish > div > div > div:first-child > ol > li {
              display: table-cell;
              vertical-align: middle;
              padding: 5px;
              white-space: nowrap;
              overflow: hidden;
              position: inherit; }
            div.burglish > div > div > div:first-child > ol:first-child > li {
              background-color: #e0e0e0;
              color: #666;
              padding-right: 7px; }
              div.burglish > div > div > div:first-child > ol:first-child > li::after {
                position: absolute;
                top: 0;
                right: 2px;
                font-size: 23px;
                color: #666;
                content: "\2193"; }
              div.burglish > div > div > div:first-child > ol:first-child > li p {
                width: 100px;
                padding: 0;
                margin: 0;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center; }
              div.burglish > div > div > div:first-child > ol:first-child > li ol {
                display: none;
                z-index: 11;
                position: absolute;
                top: 27px;
                left: 0;
                margin: 0;
                padding: 3px;
                padding-top: 10px;
                min-width: 100%;
                border-radius: 0 2px 2px 2px;
                background-color: #9cc9ec; }
                div.burglish > div > div > div:first-child > ol:first-child > li ol li {
                  display: block;
                  padding: 5px 7px;
                  font-size: 13px;
                  color: #fff; }
                  div.burglish > div > div > div:first-child > ol:first-child > li ol li:hover {
                    color: #b1d4f0; }
                  div.burglish > div > div > div:first-child > ol:first-child > li ol li.active {
                    color: #5ca5df; }
                  div.burglish > div > div > div:first-child > ol:first-child > li ol li.unicode::before {
                    display: inline-block;
                    padding: 1px 2px;
                    margin-right: 2px;
                    border-radius: 2px;
                    background-color: #318ED7;
                    content: 'utf8';
                    font-size: 10px;
                    color: #fff; }
              div.burglish > div > div > div:first-child > ol:first-child > li:hover {
                overflow: visible;
                background-color: #86bde8; }
                div.burglish > div > div > div:first-child > ol:first-child > li:hover ol {
                  display: block; }
            div.burglish > div > div > div:first-child > ol:last-child li {
              margin-right: 4px;
              border-left: 1px solid #fff;
              min-width: 25px;
              text-overflow: ellipsis; }
              div.burglish > div > div > div:first-child > ol:last-child li[data-title] {
                overflow: visible;
                background-color: #e0e0e0; }
                div.burglish > div > div > div:first-child > ol:last-child li[data-title]:hover {
                  background-color: #9cc9ec; }
                  div.burglish > div > div > div:first-child > ol:last-child li[data-title]:hover::after {
                    display: block;
                    z-index: 99;
                    background-color: #9cc9ec;
                    -webkit-box-shadow: inset 0px 0px 1px 0px #adadad;
                    -moz-box-shadow: inset 0px 0px 1px 0px #adadad;
                    box-shadow: inset 0px 0px 1px 0px #adadad;
                    position: absolute;
                    top: -23px;
                    left: 0;
                    padding: 5px 7px;
                    color: #000;
                    font-size: 10px;
                    border-radius: 2px;
                    content: attr(data-title); }
                  div.burglish > div > div > div:first-child > ol:last-child li[data-title]:hover.active::after {
                    color: #fff;
                    background-color: #71b1e3; }
              div.burglish > div > div > div:first-child > ol:last-child li.active {
                background-color: #71b1e3; }
        div.burglish > div > div > div:last-child {
          z-index: 9;
          overflow: visible; }
          div.burglish > div > div > div:last-child textarea {
            position: relative;
            display: block;
            padding: 1%;
            width: 98%;
            max-width: 100%;
            border-radius: 1px;
            font-size: 17px;
            border: 1px solid #d9d9d9;
            background-color: #fcfcfc;
            -webkit-box-shadow: 0px 1px 1px 0px #e6e6e6 ;
            -moz-box-shadow: 0px 1px 1px 0px #e6e6e6 ;
            box-shadow: 0px 1px 1px 0px #e6e6e6 ;
            resize: vertical;
            max-height: 50vh;
            min-height: 150px; }
            div.burglish > div > div > div:last-child textarea:focus {
              -webkit-box-shadow: 0px 1px 1px 0px #d1d1d1 ;
              -moz-box-shadow: 0px 1px 1px 0px #d1d1d1 ;
              box-shadow: 0px 1px 1px 0px #d1d1d1 ;
              outline: none; }
            div.burglish > div > div > div:last-child textarea#targetText {
              background-color: #f7f7f7;
              border: 1px solid #ebebeb; }
          div.burglish > div > div > div:last-child div {
            position: inherit;
            background-color: #f2f2f2; }
            div.burglish > div > div > div:last-child div#hQ {
              cursor: move;
              z-index: 12;
              padding: 5px 1px; }
              div.burglish > div > div > div:last-child div#hQ ol {
                display: block;
                padding: 0;
                margin: 0;
                text-align: center; }
                div.burglish > div > div > div:last-child div#hQ ol[data-title]::before {
                  display: block;
                  padding: 5px 2%;
                  color: #666;
                  font-size: 13px;
                  content: attr(data-title);
                  border-bottom: 1px solid #fff; }
                div.burglish > div > div > div:last-child div#hQ ol li {
                  display: inline-block;
                  margin: 1px;
                  width: 35px;
                  height: 30px;
                  line-height: 25px;
                  background-color: #f7f7f7; }
                  div.burglish > div > div > div:last-child div#hQ ol li:hover {
                    background-color: #dedede; }
            div.burglish > div > div > div:last-child div#sourceTextdrop {
              z-index: 13; }
              div.burglish > div > div > div:last-child div#sourceTextdrop div {
                position: absolute;
                padding: 0;
                margin: 0;
                display: block;
                width: 100%; }
                div.burglish > div > div > div:last-child div#sourceTextdrop div ol {
                  padding: 0px;
                  margin: 0px;
                  list-style: none; }
                  div.burglish > div > div > div:last-child div#sourceTextdrop div ol[data-title]::before {
                    display: block;
                    padding: 5px 2%;
                    color: #666;
                    font-size: 13px;
                    content: attr(data-title);
                    border-bottom: 1px solid #fff; }
                  div.burglish > div > div > div:last-child div#sourceTextdrop div ol li {
                    padding: 1px 2%;
                    line-height: 23px;
                    cursor: default; }
                    div.burglish > div > div > div:last-child div#sourceTextdrop div ol li[data-fn]::before {
                      content: attr(data-fn);
                      display: inline-block;
                      width: 15px;
                      padding: 1px 4px;
                      color: gray;
                      border-radius: 2px; }
                    div.burglish > div > div > div:last-child div#sourceTextdrop div ol li[data-en]::after {
                      content: attr(data-en);
                      display: inline-block;
                      padding: 1px 4px;
                      color: #318ED7;
                      border-radius: 2px; }
                    div.burglish > div > div > div:last-child div#sourceTextdrop div ol li:hover, div.burglish > div > div > div:last-child div#sourceTextdrop div ol li.on {
                      color: red;
                      background-color: #e6e6e6; }
