# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

*.Pre.*                     export-ignore
*.Default.*                 export-ignore
*.Def.*                     export-ignore
*.Org.*                     export-ignore
/asset/                     export-ignore
/*.md                       export-ignore
/.js                        export-ignore
/.json                      export-ignore
/.git                       export-ignore
/tests                      export-ignore
.editorconfig               export-ignore
.gitattributes              export-ignore
.gitignore                  export-ignore
