
.icon-star:before { content: '\e800'; } /* '' */
.icon-show-tips:before { content: '\e801'; } /* '' */
.icon-flag:before { content: '\e802'; } /* '' */
.icon-switch-fonts:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-bbcode:before { content: '\e805'; } /* '' */
.icon-follow-cursor:before { content: '\e806'; } /* '' */
.icon-emo-happy:before { content: '\e807'; } /* '' */
.icon-menu:before { content: '\e808'; } /* '' */
.icon-floppy:before { content: '\e809'; } /* '' */
.icon-android:before { content: '\e80a'; } /* '' */
.icon-convert-escape:before { content: '\e80f'; } /* '' */
.icon-convert-code:before { content: '\e810'; } /* '' */
.icon-convert-normal:before { content: '\e811'; } /* '' */
.icon-convert-filter:before { content: '\e812'; } /* '' */
.icon-typewriter:before { content: '\e813'; } /* '' */
.icon-character-list:before { content: '\e814'; } /* '' */
.icon-language:before { content: '\e815'; } /* '' */
.icon-equalizer:before { content: '\e816'; } /* '' */
.icon-info:before { content: '\e817'; } /* '' */
.icon-known-syllable:before { content: '\e818'; } /* '' */
.icon-correct-syntax:before { content: '\e81a'; } /* '' */
.icon-refresh:before { content: '\e824'; } /* '' */
.icon-config:before { content: '\e839'; } /* '' */
.icon-loading:before { content: '\e83b'; } /* '' */
.icon-lookup:before { content: '\e83d'; } /* '' */
.icon-slim-right:before { content: '\f006'; } /* '' */
.icon-slim-left:before { content: '\f007'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-show-filter:before { content: '\f0b0'; } /* '' */
.icon-panel:before { content: '\f0c9'; } /* '' */
.icon-insert-bbcode:before { content: '\f121'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */